### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# PyCharm
.idea/

# VS Code
.vscode/

# useless .DS_Store files
Social_Distancing_Detection/.DS_Store
.DS_Store
